@charset "utf-8";
/*版本层等四层按钮*/
@input_border:none;

button{
  outline: medium;
}
.btn_1{
  border-width:0;
  width: 160px;
  height:40px;
  background-color:rgba(204, 204, 204, 1);
  font-size: 18px;
  color: black;
  font-family:华文行楷;
  border-radius:0;
}
.btn_1:hover{
  border-width:0;
  width: 160px;
  height:40px;
  background-color:rgba(153,153,153,1);
  font-size: 18px;
  color: white;
  font-family:华文行楷;
  border-radius:0;
}

.btn_1:focus{
  border-width:0;
  width: 160px;
  height:40px;
  background-color:rgba(242,242,242,1);
  font-size: 18px;
  color: black;
  font-weight: 700;
  font-family:华文行楷;
  border-radius:0;
}
/*上传里的咖啡色按钮*/
.btn_2{
  border-width:0;
  width: 85px;
  height:30px;
  background-color:rgba(153,102,51,1);
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: 幼圆;
  border-radius:5px;
}
/*上一个，下一个的按钮*/
.btn_3{
  border-width:0;
  width: 58px;
  height:22px;
  background-color:rgba(188, 188, 188, 1);;
  font-size: 14px;
  color: #666666;
  font-weight: 700;
  font-family: 幼圆;
  border-radius:5px;
}
/*用户的五大按钮*/
.btn_4{
  border-width:0;
  width: 104px;
  height:31px;
  background-color:rgba(215, 215, 215, 1);
  font-size: 18px;
  color: #666666;
  font-family:幼圆;
  border-radius:0;
}
/*用户五大按钮的子按钮*/
.btn_5{
  border-width:0;
  width: 89px;
  height:24px;
  background-color:rgba(215, 215, 215, 1);
  font-size: 18px;
  color: #666666;
  font-family:幼圆;
  border-radius:0;
}

/*本体的咖啡色按钮*/
.btn_6{
  border-width:0;
  width: 133px;
  height:28px;
  background-color:rgba(153,102,51,1);
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: 幼圆;
  border-radius:5px;
}

.btn_6:hover{
  border-width:0;
  width: 133px;
  height:28px;
  background-color:rgba(237,156,40,1);
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: 幼圆;
  border-radius:5px;
}

/*本体与古籍的导航条按钮*/
.btn_7{
  border: 1px;
  width: 73px;
  height:30px;
  background-color:rgba(153,102,51,1);
  font-size: 14px;
  color: white;
  font-weight: 700;
  font-family: 幼圆;
  border-radius:0;
}

