@charset "utf-8";

/*声明字体*/
@font-face {
  font-family: 'SuXinShiLiuKaiFan';
  src: url('../font/SuXinShiLiuKaiFan.svg');
  //src: url('../font/SuXinShiLiuKaiFan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //url('../font/SuXinShiLiuKaiFan.woff') format('woff'), /* Modern Browsers */
  //url('../font/SuXinShiLiuKaiFan.ttf')  format('truetype'), /* Safari, Android, iOS */
  //url('../font/SuXinShiLiuKaiFan.svg#SuXinShiLiuKaiFan') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

/*使用选择器指定字体*/
body,form,div,ul,ol,li,h1,h2,h3,h4,h5,h6,table,tr,th,td,p,button,dl,dt,dd,ul,ol,li,input,textarea{
  font-family: SuXinShiLiuKaiFan;
}